*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html{
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

.wrapper {
  min-height: 96%;
  box-shadow: 0 1.5rem 4rem rgba(black, .15);
  margin-top: 2rem;
}