@mixin gridbuttons {
  i {
    line-height: 1.2;
  }
  border-radius: 50%;
  &:hover {
    background-color: rgba($color-primary-hover, 0.8);
    color: $color-white;
  }
}

@mixin bullet {
  height: 1.2rem;
  width: 1.2rem;
  background-color: $color-primary;
  border-radius: 50%;
  display: inline-block;
}