.delivery-create {
  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(rgba(#e0eaf2, .8), rgba(white, .8));
    height: 5rem;
    clip-path: polygon(50% 0%, 100% 0, 90% 85%, 11% 85%, 0 0);
  }
  &__title {
    margin-bottom: 1.5rem;
    letter-spacing: 0.6rem;
    font-weight: 500;
    text-align: center;
  }
}