.delivery-create__container {
  border: 1px solid #ebedf2;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: 4rem;
  box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
  background-color: #fff;
}

.delivery-create {
  padding: 4rem;
  position: relative;

  &__title {
    display: inline;
  }
}