.delivery-form {
  position: relative;
  font-size: 1.4rem;
  margin-top: 4rem;

  &__title {
    font-size: 1.9rem;
  }

  &__bullet {
    @include bullet;
  }

  form {
    margin-top: 4rem;

    .form-control {
      font-size: 1.4rem;
    }

    input.btn {
      font-size: 1.4rem;
    }

  }
}